.cube {
    width: 550px;
    height: 550px;
    border: solid;
}

.cube1 {
    width: 530px;
    height: 530px;
    border: solid;
    margin: 7px;
    color:green;
}

.cube2 {
    width: 510px;
    height: 510px;
    border: solid;
    margin: 7px;
    color: palevioletred;
}

.cube3 {
    width: 50px;
    height: 50px;
    border: solid;
    margin: 4px;
    color: black;
    margin: 450px 0px 0px 5px;
    background-color: rgb(128, 163, 76);
    display: inline-block;
}

.cube4 {
    width: 50px;
    height: 50px;
    border: solid;
    margin: 4px;
    color: black;
    margin: -2px 0px 0px 0px;
    background-color: rgb(125, 163, 76);
    display: inline-block;
}

.block {
    width: 50px;
    height: 50px;
    border: solid;
    margin: 4px;
    color: black;
    background-color: rgb(128, 163, 76);
    margin: 
    
}

.cube5 {
    display: inline-block;
    margin: -2px 0px 0px 0px;
}

.cube6 {
     display: inline-block;
     margin: -2px 60px 0px 0px;
     background-color: coral;
}

.cube7 {
    display: inline-block;
    margin: -2px 0px 0px 0px;
    background-color: rgb(59, 13, 63);
}

.cube8 {
    display: inline-block;
    margin: -2px 0px 0px 0px;
    background-color: rgb(59, 13, 63);
}

.cube9 {
    display: inline-block;
    margin: -2px 25px 0px 0px;
    background-color: rgb(59, 13, 63);
}

.cube10 {
    margin: -120px 70px 0px 65px;
}

.cube11 {
    margin: -56px 70px 0px 185px;
    background-color: coral;
}

.cube12 {
    margin: -117px 70px 0px 185px;
    background-color: coral;
}

.cube13 {
    margin: -117px 70px 0px 185px;
    background-color: coral;
}

.cube14 {
    margin: 66px 70px 0px 245px;
    background-color: red;
}

.cube15 {
    margin: -116px 70px 0px 305px;
    background-color: red;
}

.cube16 {
    margin: -56px 70px 0px 245px;
    background-color: red;
}

.cube17 {
    margin: -56px 70px 0px 365px;
    background-color: red;
}

.cube18 {
    margin: -110px 70px 0px 125px;
    background-color:gray;
}

.cube19 {
    margin: -117px 70px 0px 125px;
    background-color: gray;
}

.cube20 {
    margin: -118px 70px 0px 125px;
    background-color: gray;
}

.cube21 {
    margin: -55px 70px 0px 63px;
    background-color: gray;
}